.post-title {
    font-size: 4vmin;
    max-width: 570px;
    background-color: wheat;
    border-radius: 6px;
    padding-left: 6px;
    margin-left: 100px;
    margin-top: 100px;
}

.cont {
    border: 2px solid blue;
    display: inline-block;
}

.f1 {
    border: 2px solid red;
    max-width: 314px;
    margin-left: 76%;
}

.post-body {
    max-width: 70%;
    font-size: 23px;
    margin-left: 15px;
    padding: 10px;
    border: 1px solid turquoise;
    float:left;
}

.post-comments {
    max-width: 550px;
    background-color: wheat;
    padding: 5px;
    border: 2px solid orange;
    border-radius: 6px;
    margin-left: 15px;
    overflow: hidden;
}
#comment-header {
    
}
#comment {
    
}
