/*
font-family: 'Lobster', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Vollkorn', serif;
*/

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dosis', serif;
    margin: 0;
    padding: 0;
}

#entree {
    background-color: crimson;
    margin: 0 auto;
    height: 175px;
}
#entree-logo {
}
#entree-motto {
}
#entree-rigth {
}

.coasts {
    overflow: hidden;
}
div#westcoast {
    max-width: 70%;
    float: left;
}

.post-title {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    max-width: 570px;
    max-height: 380px;
    border-radius: 6px;
    padding-left: 6px;
    margin-left: 100px;
    margin-top: 30px;
}
.post-body {
    font-family: 'Dosis', sans-serif;
    font-size: 23px;
    margin-left: 15px;
    padding: 10px;
}

div#eastcoast {
    margin-left: 76%;
    margin-right: 15px;
}
.func {
    margin-top: 40px;
    margin-bottom: 160px;
}

.caption {
    padding: 1px;
    background-color: cornFlowerBlue;
    text-align: center;
    margin-top: 10px;
}
.caption-header {
    font-size: 26px;
    font-family: 'Lobster', cursive;
}

.comments-section {
    background-color: seaShell;
    padding: 1px;
}
.comment {
    max-width: 550px;
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 30px;
}
.comment-header {
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    margin-bottom: -20px;
}
.message {
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    border: 2px solid crimson;
    border-left: 8px solid crimson;
}

.footer {
    padding: 1px;
    background-color: black;
    height: 175px;
    text-align: center;
}
.h-footer {
    color: white;
    font-family: 'Dosis', sans-serif;
}



/* home.html */
.selamlik {
    font-size: 20px;
    padding: 15px;
}

.post-preview {
    padding: 1px;
    margin-left: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.post-link, .post-link:visited {
    font-size: 3em;
    color: black;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}
.post-link:hover {
    color: darkSlateBlue;
    text-decoration: underline;
}
.post-description {
    font-size: 14px;
    font-style: italic;
}
.post-truncated {
    font-size: 20px;
    padding-left: 10px;
    border-left: 4px solid sienna;
}
/* home.html */
