/*
font-family: 'Lobster', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Vollkorn', serif;
*/

body {
    font-family: 'Vollkorn', serif;
}

.title-container {
    overflow: hidden;
    margin-bottom: 5px;
}
.func-title {
    max-width: 25%;
    margin-left: 76%;
    margin-top: 50px;
}
.post-title {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    max-width: 570px;
    max-height: 380px;
    border-radius: 6px;
    padding-left: 6px;
    margin-left: 100px;
    margin-top: 30px;
    float: left;
}

.body-container {
    display: inline-block;
}
.func {
    max-width: 25%;
    margin-left: 76%;
    margin-bottom: 50px;
}
.post-body {
    font-family: 'Dosis', sans-serif;
    max-width: 70%;
    font-size: 23px;
    margin-left: 15px;
    padding: 10px;
    float:left;
}

.post-comments {
    max-width: 550px;
    padding: 5px;
    border-radius: 6px;
    overflow: hidden;
    background-color: seaShell;
    margin-left: 15%;
    margin-bottom: 10px;
}
.comment-header {
    padding-top: 1px;
    border-radius: 6px;
    font-size: 25px;
    background-color: lavender;
    color: darkSlateGray;
}
.comment {
    font-size: 20px;
}
