.title-container {
    margin-bottom: 5px;
}
.func-title {
}
.post-title {
    font-size: 18px;
    border-radius: 6px;
    padding-left: 6px;
}

.body-container {
}
.func {
    margin-bottom: 50px;
}
.post-body {
    background-color: pink;
    font-size: 23px;
    padding: 10px;
}

.post-comments {
    padding: 5px;
    border-radius: 6px;
    background-color: seaShell;
    margin-bottom: 10px;
}
.comment-header {
    padding-top: 1px;
    border-radius: 6px;
    font-size: 25px;
    background-color: lavender;
    color: darkSlateGray;
}
.comment {
    font-size: 16px;
}
