html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Vollkorn', serif;
    margin: 0;
    padding: 0;
}

#entree {
    background-color: crimson;
    margin: 0 auto;
    height: 175px;
}
#entree-logo {
}
#entree-motto {
}
#entree-rigth {
}

.post-title {
    font-family: 'Lobster', cursive;
    font-size: 15px;
    padding-left: 6px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.post-body {
    font-family: 'Dosis', sans-serif;
    font-size: 23px;
    margin-left: 15px;
    margin-right: 15px;
}

div#eastcoast {
}
.func {
    margin-left: 15%;
    max-width: 240px;
    display: inline-block;
    vertical-align: top;
}

.caption {
    padding: 1px;
    background-color: cornFlowerBlue;
    text-align: center;
    margin-top: 10px;
}
.caption-header {
    font-size: 26px;
    font-family: 'Lobster', cursive;
}

.comments-section {
    background-color: seaShell;
    padding: 1px;
}
.comment {
    max-width: 550px;
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 30px;
}
.comment-header {
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    margin-bottom: -20px;
}
.message {
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    border: 2px solid crimson;
    border-left: 8px solid crimson;
}

.footer {
    padding: 1px;
    background-color: black;
    height: 175px;
    text-align: center;
}
.h-footer {
    color: white;
    font-family: 'Dosis', sans-serif;
}
