{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <!--<link rel="stylesheet" type="text/css" href="{% static 'articles/main.css' %}"/>-->
        <link id="size-stylesheet" rel="stylesheet" type="text/css" href="{% static 'articles/small.css' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Lobster|Dosis|Orbitron|Vollkorn" rel="stylesheet"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{% static 'articles/login.js' %}"></script>
        <script src="{% static 'articles/style.js' %}"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Cevizin Altı{% endblock %}</title>
    </head>

    <body>
        <div id="entree">
            <div id="entree-logo">
            </div>
            
            <div id="entree-motto">
            </div>

            <div id="entree-right">
            </div>
        </div>


        {% if None %}
        <div class="form">
            {% if not request.user.is_authenticated %}
                <form id="login_form">{% csrf_token %}
                    <input type="text" name="uid" id="uid">
                    <input type="text" name="pass" id="pass">
                    <input class="login_btn" type="button" value="LogIn">
                </form>
            {% else %}
                <input class="logout_btn" type="button" value="LogOut">
                <a href="{% url 'articles:user' request.user.id  %}">{{ request.user.username }}</a>
            {% endif %}
        </div>
        {% endif %}


        <div class="container">   
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>


        <div class="footer">
            <h1 class="h-footer">Here is the footer.</h1>
            <h2 class="h-footer">Here is the footer.</h2>
            <h3 class="h-footer">Here is the footer.</h3>
        </div>
    </body>
</html>
