{% extends 'articles/base.html' %}
{% block title %}{{ genre_in_question }} - My Cool Blog{% endblock %}

{% block content %}

    <div class="selamlik">
        <h3>Wanna read something about {{ genre_in_question }} ?</h3>
        <p>{{ description }}</p>
    </div>

    <div class="coasts">
        <div id="westcoast">
            {% for post in posts %}
                <div class="post-preview">
                    <a class="post-link" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    <small class="post-description">{{ post.author }}   {{ post.view_count }} views.</small>
                    <p class="post-truncated">{{ post.content|truncatewords:40 }}</p>
                </div>
            {% endfor %}
        </div>

        <div id="eastcoast">
            <div class="func">
                <h3>Other categories:</h3>
                <ul>
                {% for g in othergenres %}
                    <li><a href="{{ g.get_absolute_url }}">{{ g.name }}</a><small>({{ g.posts_in_this_genre }})</small></li>
                {% endfor %}
                </ul>
            </div>

            {% if comments %}
                <div class="func">
                    <h3>Latest comments in this category:</h3>
                    {% for comment in comments %}
                        <p>{{ comment.comment_text }}<small><i>{{ comment.user.username }}</i></small></p>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}
