{% extends 'articles/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

    <div class="coasts">
        <div id="westcoast">
            <div class="post-title">
                <h1 style="font-weight: normal">{{ post.title }}</h1>
                <h4 style="font-weight: normal">{{ post.author }}, on {{ post.date }}</h4>
                <h3 style="font-weight: normal"><a href="{{ post.genre.get_absolute_url }}">{{ post.genre }}</a></h5>
            </div>

            <div class="post-body">
                <p>{{ post.content|safe }}</p>
            </div>
        </div>

        <div id="eastcoast">
            <div class="func">
                <h3>Functional area</h3>
                <ul>
                    <li>Some</li>
                    <li>thing</li>
                    <li>useful</li>
                </ul>
            </div>
            <div class="func">
                <h3>Second Functional area</h3>
                <p>Man, see how functional I am?</p>
            </div>
        </div>
    </div>


    {% if comments %}
        <div class="caption">
            <p class="caption-header">Comments({{ comments|length }})</p>
        </div>

        <div class="comments-section">
            {% for comment in comments %}
                <div class="comment">
                    <div class="comment-header">
                        <p><i>{{ comment.user.username }} <small>{{ comment.date.day }}/{{ comment.date.month }}/{{ comment.date.year }}</small></i></p>
                    </div>
                    <div class="message">
                        <p>{{ comment.comment_text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endif %}


{% endblock %}
