{% extends 'articles/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1 style="text-align: center">{{ post.title }}</h1>
    <hr>
    <p>{{ post.author }}</p>
    <hr>
    <h4 class="bg-warning">{{ post.date }}</h4>
    <h4>{{ post.genre }}</h4>
    <hr>
    <p>{{ post.content }}</p>
    <hr>
    {% for comment in comments %}
        <hr>
        <p>{{ comment.user.username }} has written these:</p>
        <p>{{ comment.comment_text }}</p>
        <hr>
    {% endfor %}
{% endblock %}
