{% extends 'articles/base.html' %}
{% block title %}
    {% if user.username == request.user.username %}
        My Page | {{ request.user.username }}
    {% else %}
        {{ user.username }}'s page 
    {% endif %}
{% endblock %}

{% block content %}
    <div class="selamlik">
        <h2 style="text-align: center">{{ user.username }}</h2>
        <hr>
        {% if whoami %}
            <p>{{ whoami.short_bio }}</p>
        {% else %}
            <p>No bio available.</p>
        {% endif %}
    </div>

    <div class="coasts">
        {% if posts %}
            {% for post in posts %}
                <div class="post-preview">
                    <a class="post-link" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    <small class="post-description">{{ post.view_count }} views.</small>
                    {% if post.author.username == request.user.username %}
                        <a href="#">( Edit )</a>
                    {% endif %}
                    <p class="post-truncated">{{ post.description|safe }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% if comments %}
            <h3>Comments:</h3>
            <div class="comments-section">
                {% for comment in comments %}
                    <div class="comment">
                        <div class="comment-header">
                            <p><i>{{ comment.user.username }} <small>{{ comment.date.day }}/{{ comment.date.month }}/{{ comment.date.year }}</small></i></p>
                        </div>
                        <div class="message">
                            <p>{{ comment.comment_text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
